:root {
    --background: #0C090A;
    --basecolor: #242124;
    --input-color: #ccccff;
}

body{
    padding: 0;
    margin: 0;
    background-size: auto;
    background-color: var(--background);
    font-family: 'Trebuchet MS', sans-serif;
    /* or use Palatino Linotype */
    /* font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; */
    /* or use Tahoma */
    /* font-family: 'Tahoma', sans-serif; */
    /* or use Geneva */
    /* font-family: 'Geneva', sans-serif; */
    /* or use Trebuchet MS */
    /* font-family: 'Trebuchet MS', sans-serif; */
    /* or use Lucida Sans Unicode */
    /* font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; */
    /* or use Gill Sans */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; */
    /* or use Franklin Gothic Medium */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.main-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    height: 80vh;
    background-color: var(--basecolor);
}

.menu-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 7.5%;
    height: 100%;
}

.menu-top{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    user-select: none;
}

.menu-top-content{
    color: var(--input-color);
    cursor: pointer;
}

.menu-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-weight: bold;
    user-select: none;
}

.menu-icons-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 15px 0;
}

.menu-center > .menu-icons-container > svg{
    cursor: pointer;
    color: var(--background);
}

.menu-icons-title{
    opacity: 0;
    display: flex;
    position: absolute;
    color: var(--input-color);
    background-color: var(--background);
    padding: 5px 10px;
    border-radius: 10px;
    left: 200%;
    z-index: 3;
    transition: opacity 0.25s ease-in-out;
}

.menu-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-weight: bold;
    user-select: none;
}

.menu-bottom > .menu-icons-container > svg {
    cursor: pointer;
    color: var(--input-color);
}

.menu-icons-container > svg:hover + .menu-icons-title{
    opacity: 1;
}



.picture-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 32.5%;
    height: 110%;
    background-color: var(--input-color);
    box-shadow: 10px 0 15px -10px var(--background), -10px 0 15px -10px var(--background);
    z-index: 2;
}

.content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    font-size: 35px;
    font-weight: bold;
}

.content-home, .content-message, .content-roadmap, .content-skills{
    display: none;
}

.project-page-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 3;
}

.project-go-back{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 15%;
    height: auto;
}

.project-go-back > i{
    margin-right: 25px;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--background);
    color: var(--input-color);
    padding: 15px 16px;
    cursor: pointer;
}

.project-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    height: auto;
}

.project-title-button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    font-weight: bold;
    padding: 35px calc(5% - 50px);
    width: calc(70% + 50px);
    height: auto;
    background-color: var(--background);
    color: var(--input-color);
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
}

.project-title-button > i{
    padding-right: 10px;
}

.project-content{
    width: 60%;
    padding: 25px 25px;
    background-color: var(--basecolor);
}